<!-- prettier-ignore-start -->
{{ $hero := .Attributes.class }}
<figure>
  <picture>
    {{- $isJPG := eq (path.Ext .Destination) ".jpg" -}}
    {{- $isPNG := eq (path.Ext .Destination) ".png" -}}
    {{- $isSVG := eq (path.Ext .Destination) ".svg" -}}

    {{- if ($isJPG) -}}
      {{- $avifPath:= replace .Destination ".jpg" ".avif" -}}
      {{- $avifPathStatic:= printf "static%s" $avifPath -}}

      {{- if (fileExists $avifPathStatic) -}}
        <source srcset="{{- $avifPath | safeURL -}}" type="image/avif"  media="(prefers-color-scheme: light)">
      {{- end -}}

      {{- $avifPathDark:= replace .Destination ".jpg" "-dark.avif" -}}
      {{- $avifPathDarkStatic:= printf "static%s" $avifPathDark -}}

      {{- if (fileExists $avifPathDarkStatic) -}}
        <source srcset="{{- $avifPathDark | safeURL -}}" type="image/avif" media="(prefers-color-scheme: dark)">
      {{- end -}}

      {{- $webpPath:= replace .Destination ".jpg" ".webp" -}}
      {{- $webpPathStatic:= printf "static%s" $webpPath -}}

      {{- if (fileExists $webpPathStatic) -}}
        <source srcset="{{- $webpPath | safeURL -}}" type="image/webp"  media="(prefers-color-scheme: light)">
      {{- end -}}

      {{- $webpPathDark:= replace .Destination ".jpg" "-dark.webp" -}}
      {{- $webpPathDarkStatic:= printf "static%s" $webpPathDark -}}

      {{- if (fileExists $webpPathDarkStatic) -}}
        <source srcset="{{- $webpPathDark | safeURL -}}" type="image/webp" media="(prefers-color-scheme: dark)">
      {{- end -}}
    {{- end -}}


    {{- if ($isPNG) -}}
      {{- $avifPath:= replace .Destination ".png" ".avif" -}}
      {{- $avifPathStatic:= printf "static%s" $avifPath -}}

      {{- if (fileExists $avifPathStatic) -}}
        <source srcset="{{- $avifPath | safeURL -}}" type="image/avif" media="(prefers-color-scheme: light)">
      {{- end -}}

      {{- $avifPathDark:= replace .Destination ".png" "-dark.avif" -}}
      {{- $avifPathDarkStatic:= printf "static%s" $avifPathDark -}}

      {{- if (fileExists $avifPathDarkStatic) -}}
        <source srcset="{{- $avifPathDark | safeURL -}}" type="image/avif" media="(prefers-color-scheme: dark)">
      {{- end -}}

      {{- $webpPath:= replace .Destination ".png" ".webp" -}}
      {{- $webpPathStatic:= printf "static%s" $webpPath -}}

      {{- if (fileExists $webpPathStatic) -}}
        <source srcset="{{- $webpPath | safeURL -}}" type="image/webp" media="(prefers-color-scheme: light)">
      {{- end -}}

      {{- $webpPathDark:= replace .Destination ".png" "-dark.webp" -}}
      {{- $webpPathDarkStatic:= printf "static%s" $webpPathDark -}}

      {{- if (fileExists $webpPathDarkStatic) -}}
        <source srcset="{{- $webpPathDark | safeURL -}}" type="image/webp" media="(prefers-color-scheme: dark)">
      {{- end -}}

      {{- $pngPathDark:= replace .Destination ".png" "-dark.png" -}}
      {{- $pngPathDarkStatic:= printf "static%s" $pngPathDark -}}

      {{- if (fileExists $pngPathDarkStatic) -}}
        <source srcset="{{- $pngPathDark | safeURL -}}" media="(prefers-color-scheme: dark)">
      {{- end -}}
    {{- end -}}

    {{- if ($isSVG) -}}
      {{- $swfPathDark:= replace .Destination ".svg" "-dark.svg" -}}
      <source
        srcset="{{- .Destination| safeURL -}}"
        type="image/svg+xml"
        media="(prefers-color-scheme: light)">
      <source
        srcset="{{- $swfPathDark| safeURL -}}"
        type="image/svg+xml"
        media="(prefers-color-scheme: dark)">
      <source
        srcset="{{- replace .Destination ".svg" "-dark.png"| safeURL -}}"
        type="image/png"
        media="(prefers-color-scheme: dark)">
      <img
        src="{{- replace .Destination ".svg" ".png" | safeURL -}}"
        alt="{{- .Text -}}"
        loading="lazy"
        decoding="async"
        width="600"
        height="400">
    {{- else -}}
      {{- $img := imageConfig (add "/static" (.Destination | safeURL)) -}}
      <img src="{{- .Destination | safeURL -}}"
        alt="{{- .Text -}}"
        width="{{- $img.Width -}}"
        height="{{- $img.Height -}}"
        {{ with $hero }}{{ else }} loading="lazy" decoding="async"{{ end }}>
    {{- end -}}
  </picture>
  {{ with .Text | safeHTML }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
<!-- prettier-ignore-end -->
