{{ define "title" }}{{ .Title }} | {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <article>
        <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "BlogPosting",
            "mainEntityOfPage":{
              "@type":"WebPage",
              "@id":"{{ .Site.BaseURL }}"
            },
            "headline": {{ .Title }},
            "image": {
              "@type": "ImageObject",{{ with .Resources.GetMatch "images/hero.*" }}
              "url": "{{ .Permalink }}",
              "width": "{{ .Width }}",
              "height": "{{ .Height }}"
              {{ else }}
              "url": "{{ .Site.BaseURL }}images/george-700.jpg",
              "width": 700,
              "height": 700
              {{ end }}
            },
            "copyrightYear" : "{{ .Date.Format "2006" }}",
            "url" : "{{ .Permalink }}",
            "datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
            "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}",
            "author": {
              "@type": "Person",
              "name": "{{ .Site.Params.author }}",
              "image": "{{ .Site.BaseURL }}images/george-400.jpg"
            },
            "publisher": {
              "@type": "Organization",
              "name": "{{ .Site.Copyright }}",
              "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.BaseURL }}images/george-60.jpg",
                "height": 60,
                "width": 60
              }
            },
            "description": {{ .Description | html }},
            "timeRequired": "{{ .ReadingTime }} minutes",
            "wordCount": "{{ .WordCount }}",
            "articleBody": {{ .Content | html }},
            "keywords" : [ {{ range $i, $e := .Params.tags }}{{ if $i }}, {{ end }}{{ $e }}{{ end }} ]
          }
        </script>
    <h1>{{ .Title }}</h1>
    <!-- 1600 x 1200 for cover image -->
    <!-- resized to 620 q85 h2 lanczos -->
    <!-- resized to 860 q80 h2 lanczos -->
    <!-- resized to 1200 q40 h2 lanczos -->
    <!-- resized to 1200 q30 h2 lanczos -->
    {{ with page.Description }}
      <p>{{ . }}</p>
    {{ end }}
    {{ with .Resources.GetMatch "images/hero.*" }}

    {{ $image := . }}


      <!-- 16:9 2048:1152 -->
      <!-- 4:3 2048:1536 -->
      {{ $mobileImageWebP := $image.Resize "620x q70 Lanczos webp" }}
      {{ $imageWebP := $image.Resize "1600x q80 Lanczos webp" }}
      {{ $mobileImage := $image.Resize "620x q40 Lanczos" }}
      {{ $default := $image.Resize "860x q40 Lanczos" }}


      <figure class="fullbleed">
        <a href="{{ $image.Permalink }}">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="{{ $mobileImageWebP.Permalink }}"
          >
          <source
            media="(min-width: 768px)"
            srcset="{{ $imageWebP.Permalink }}"
          >
          <source
            media="(max-width: 767px)"
            srcset="{{ $mobileImage.Permalink }}"
          >
          <source media="(min-width: 768px)" srcset="{{ $image.Permalink }}" />
          <img src="{{ $default.Permalink }}" alt="{{ $.Params.caption }}" width="{{ $default.Width }}" height="{{ $default.Height }}" />
        </picture>
        </a>
        {{ with $.Params.caption }}
          <figcaption>{{ $.Params.caption }}</figcaption>
        {{ end }}
      </figure>
    {{ end }}
      <ul class="meta">
        <li>
          <time
            datetime="{{ .PublishDate.Format "2006-01-02T15:04:05" }}"
            data-updated="true"
            ><span class="uppercase"
              >{{ .PublishDate.Format "January 2, 2006" }}</span
            ></time
          >
        </li>
        <li>
          Updated
          <time
            datetime="{{ .Lastmod.Format "2006-01-02T15:04:05" }}"
            data-updated="true"
            >{{ .Lastmod.Format "January 2, 2006" }}</time
          >
        </li>
      </ul>

    {{ .Content }}
    {{ if not (in .Params.tags "Writing") }}
      {{ partial "tags.html" . }}
      <p class="kaizen">
        Can you help make this article better?
        <a
          href="https://github.com/shapeshed/shapeshed.com/edit/main/content/{{ .File.Path }}
              "
          >You can edit it here and send me a pull request.</a
        >
      </p>

      {{ if not (in .Params.tags "Writing") }}
        {{ partial "related.html" . }}
      {{ end }}
    {{ end }}
  </article>
{{ end }}
