@charset "UTF-8";

/* eb-garamond-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/eb-garamond-v26-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/eb-garamond-v26-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* eb-garamond-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/eb-garamond-v26-latin-italic.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/eb-garamond-v26-latin-italic.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/roboto-mono-v22-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */
      url("/fonts/roboto-mono-v22-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*
 * Reset elements
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
menu,
nav,
cite,
section {
  display: block;
}

img {
  height: auto;
  max-width: 100%;
}

/*
 * Set up vertical rhythm
 * Font size 15px, Line Height 2
 * Thus vertical rhythm 30px
 */
:root {
  --baseline: 1.875;
  --fontsize: 16px;

  /* https://github.com/VinSpee/css-modularscale/blob/master/index.css */

  /*
  --augmented-fourth: 1.414;
  --double-octave: 4;
  --fifth: 1.5;
  --fourth: 1.333;
  --golden: 1.618;
  --major-eleventh: 2.667;
  --major-second: 1.125;
  --major-seventh: 1.875;
  --major-sixth: 1.667;
  --major-tenth: 2.5;
  --major-third: 1.25;
  --major-twelfth: 3;
  --minor-second: 1.067;
  --minor-seventh: 1.778;
  --minor-sixth: 1.6; */
  --minor-third: 1.2;

  /*
  --octave: 2;
  --phi: 1.618; */
  --ms0: var(--ms-base);
  --ms1: calc(var(--ms-ratio) * var(--ms0));
  --ms2: calc(var(--ms-ratio) * var(--ms1));
  --ms3: calc(var(--ms-ratio) * var(--ms2));
  --ms4: calc(var(--ms-ratio) * var(--ms3));
  --ms5: calc(var(--ms-ratio) * var(--ms4));
  --ms6: calc(var(--ms-ratio) * var(--ms5));
  --ms-ratio: var(--minor-third);
  --ms-base: 1rem;

  /* Catppucin colors */
  --ctp-latte-rosewater: #dc8a78;
  --ctp-mocha-rosewater: #f5e0dc;
  --ctp-latte-flamingo: #dd7878;
  --ctp-mocha-flamingo: #f2cdcd;
  --ctp-latte-pink: #ea76cb;
  --ctp-mocha-pink: #f5c2e7;
  --ctp-latte-mauve: #8839ef;
  --ctp-mocha-mauve: #cba6f7;
  --ctp-latte-red: #d20f39;
  --ctp-mocha-red: #f38ba8;
  --ctp-latte-maroon: #e64553;
  --ctp-mocha-maroon: #eba0ac;
  --ctp-latte-peach: #fe640b;
  --ctp-mocha-peach: #fab387;
  --ctp-latte-yellow: #df8e1d;
  --ctp-mocha-yellow: #f9e2af;
  --ctp-latte-green: #40a02b;
  --ctp-mocha-green: #a6e3a1;
  --ctp-latte-teal: #179299;
  --ctp-mocha-teal: #94e2d5;
  --ctp-latte-sky: #04a5e5;
  --ctp-mocha-sky: #89dceb;
  --ctp-latte-sapphire: #209fb5;
  --ctp-mocha-sapphire: #74c7ec;
  --ctp-latte-blue: #1e66f5;
  --ctp-mocha-blue: #89b4fa;
  --ctp-latte-lavender: #7287fd;
  --ctp-mocha-lavender: #b4befe;
  --ctp-latte-text: #4c4f69;
  --ctp-mocha-text: #cdd6f4;
  --ctp-latte-subtext1: #5c5f77;
  --ctp-mocha-subtext1: #bac2de;
  --ctp-latte-subtext0: #6c6f85;
  --ctp-mocha-subtext0: #a6adc8;
  --ctp-latte-overlay2: #7c7f93;
  --ctp-mocha-overlay2: #9399b2;
  --ctp-latte-overlay1: #8c8fa1;
  --ctp-mocha-overlay1: #7f849c;
  --ctp-latte-overlay0: #9ca0b0;
  --ctp-mocha-overlay0: #6c7086;
  --ctp-latte-surface2: #acb0be;
  --ctp-mocha-surface2: #585b70;
  --ctp-latte-surface1: #bcc0cc;
  --ctp-mocha-surface1: #45475a;
  --ctp-latte-surface0: #ccd0da;
  --ctp-mocha-surface0: #313244;
  --ctp-latte-base: #eff1f5;
  --ctp-mocha-base: #1e1e2e;
  --ctp-latte-mantle: #e6e9ef;
  --ctp-mocha-mantle: #181825;
  --ctp-latte-crust: #dce0e8;
  --ctp-mocha-crust: #11111b;
}

html {
  font-size: var(--fontsize);
}

body {
  /*
  background: linear-gradient(
    to bottom,
    rgba(32, 160, 255, 0.35) 1px,
    transparent 1px
  );
  */
  background-size: 100% calc(var(--baseline) * 1rem);
  font-family: "EB Garamond", serif;
  line-height: calc(var(--baseline) * 1rem);
  font-size: var(--ms1);
  color: var(--ctp-latte-text);
  text-rendering: optimizeLegibility;
}

/*
 * Typography
 */

h1 {
  font-size: var(--ms5);
  font-weight: 400;
  line-height: calc(var(--baseline) * 2rem);
  margin-top: calc(var(--baseline) * 4rem);
  margin-bottom: calc(var(--baseline) * 2rem);
}

h2 {
  font-weight: 400;
  font-size: var(--ms3);
  line-height: calc(var(--baseline) * 2rem);
}

h3 {
  font-weight: 400;
  font-style: italic;
  font-size: var(--ms2);
  margin-top: calc(var(--baseline) * 0.5rem);
  margin-bottom: calc(var(--baseline) * 0.5rem);
}

h2 a,
h3 a,
h4 a {
  visibility: hidden;
  font-size: var(--ms1);
}

h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

p,
ul,
ol,
table,
blockquote,
img {
  margin-bottom: calc(var(--baseline) * 1rem);
}

figure,
pre {
  margin-bottom: calc(var(--baseline) * 1rem);
}

figure img {
  width: 100%;
  margin-bottom: 0;
}

aside *,
figcaption {
  font-size: var(--ms0);
}

hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
em,
small {
  line-height: 0;
}

sub,
sup {
  font-size: calc(var(--ms0));
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-weight: 400;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 1px;
  color: var(--ctp-latte-blue);
}

/*
 * Additional styles
 */
blockquote {
  font-style: italic;
}

ul li::marker {
  content: "\2022\0020\0020";
}

cite {
  font-style: normal;
  font-weight: 400;
}

blockquote p {
  margin-bottom: 0;
}

.uppercase {
  font-variant: small-caps;
}

ul.meta {
  font-size: calc(var(--ms0));
  list-style: none;
  font-weight: bold;
}
ul.meta li {
  display: inline;
}

ul.meta li:not(:first-child) {
  font-weight: normal;
  font-style: italic;
}

ul.meta li::marker {
  content: none;
}

code {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "courier new", monospace;
  font-size: calc(var(--ms0));
  line-height: calc(var(--baseline) * 1rem);
}

.kaizen {
  color: var(--ctp-latte-teal);
}

pre {
  background-color: var(--ctp-latte-base);
  padding: calc(var(--baseline) * 1rem);
  border-radius: 0.5rem;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  overflow-x: auto;
}

.highlight {
  position: relative;
}

[data-lang]::before {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--ctp-latte-surface1);
  padding: 0 0.75rem;
  border-radius: 0rem 0.5rem 0 0;
  content: attr(data-lang);
  color: var(--ctp-latte-text);
}

/*
@media (min-width:480px)  { }
@media (min-width:640px)  { }
@media (min-width:768px)  { }
@media (min-width:1024px) { }
@media (min-width:1280px) { }
@media (min-width:1536px) { }
*/
@media (max-width: 767px) {
  article,
  .inner {
    display: grid;
    grid-template-columns: 7% 86% 7%;
  }

  footer {
    margin: 0 8%;
  }

  article > *,
  .inner > * {
    grid-column: 2;
  }

  article figure {
    background: none;
    padding: 0;
    grid-column: 1/ -1;
  }
  article figcaption {
    padding: 0 7%;
  }

  ul.meta li {
    display: inline;
  }
}

@media (min-width: 768px) {
  .wrapper {
    max-width: 1024px;
    padding: 0 2rem;
    margin: auto;
  }

  .highlight {
    grid-column: 1 / 4;
  }

  aside img {
    margin: auto;
  }

  article {
    display: grid;

    /* Use golden ratio */
    /* grid-template-columns: 1fr 711px 20px 448px 1fr; */
    grid-template-columns: 61% 4% 33%;
    align-items: start;
  }

  article > figure.fullbleed {
    grid-column: 1 / -1;
  }

  article > figure.fullbleed img {
    max-height: 900px;
    width: auto;
  }

  article > .two-column {
    grid-column: 1 / 4;
  }

  article > * {
    grid-column: 1;
  }

  article > aside {
    grid-column: 3;
  }

  article > aside.two-row {
    grid-row-start: span 2;
  }

  article > aside.three-row {
    grid-row-start: span 3;
  }

  ul.meta li.tag {
    display: block;
  }
}

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--ctp-mocha-mantle);
    color: var(--ctp-mocha-text);
  }

  h2 {
    color: var(--ctp-mocha-subtext0);
  }

  h3 {
    color: var(--ctp-mocha-subtext1);
  }

  a {
    color: var(--ctp-mocha-blue);
  }

  [data-lang]::before {
    background-color: var(--ctp-mocha-surface1);
    color: var(--ctp-mocha-text);
  }

  .copy-code-button {
    color: var(--ctp-mocha-teal);
  }

  .kaizen {
    color: var(--ctp-mocha-teal);
  }

  /* Background */
  .bg {
    color: #fab387;
    background-color: #1e1e2e;
  }
  /* PreWrapper */
  .chroma {
    color: #fab387;
    background-color: #1e1e2e;
  }
  /* Other */
  .chroma .x {
  }
  /* Error */
  .chroma .err {
    color: #f38ba8;
  }
  /* CodeLine */
  .chroma .cl {
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #ffffcc;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7d5943;
  }
  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7d5943;
  }
  /* Line */
  .chroma .line {
    display: flex;
  }
  /* Keyword */
  .chroma .k {
    color: #cba6f7;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #cba6f7;
    font-style: italic;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #cba6f7;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #cba6f7;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #cba6f7;
    font-weight: bold;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #cba6f7;
  }
  /* KeywordType */
  .chroma .kt {
    color: #f9e2af;
  }
  /* Name */
  .chroma .n {
    color: #b4befe;
  }
  /* NameAttribute */
  .chroma .na {
    color: #f9e2af;
  }
  /* NameBuiltin */
  .chroma .nb {
    font-style: italic;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #b4befe;
  }
  /* NameClass */
  .chroma .nc {
    color: #f9e2af;
  }
  /* NameConstant */
  .chroma .no {
    color: #f9e2af;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #f5c2e7;
  }
  /* NameEntity */
  .chroma .ni {
    color: #f5c2e7;
  }
  /* NameException */
  .chroma .ne {
    color: #eba0ac;
  }
  /* NameFunction */
  .chroma .nf {
    color: #89dceb;
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: #b4befe;
  }
  /* NameLabel */
  .chroma .nl {
    color: #f9e2af;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #f9e2af;
  }
  /* NameOther */
  .chroma .nx {
  }
  /* NameProperty */
  .chroma .py {
    color: #b4befe;
  }
  /* NameTag */
  .chroma .nt {
    color: #cba6f7;
  }
  /* NameVariable */
  .chroma .nv {
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #b4befe;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #b4befe;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #b4befe;
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: #b4befe;
  }
  /* Literal */
  .chroma .l {
  }
  /* LiteralDate */
  .chroma .ld {
  }
  /* LiteralString */
  .chroma .s {
    color: #a6e3a1;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #a6e3a1;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #a6e3a1;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #a6e3a1;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #a6e3a1;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #a6e3a1;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #a6e3a1;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #89b4fa;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #a6e3a1;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #a6e3a1;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #a6e3a1;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #89b4fa;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #a6e3a1;
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #a6e3a1;
  }
  /* LiteralNumber */
  .chroma .m {
  }
  /* LiteralNumberBin */
  .chroma .mb {
  }
  /* LiteralNumberFloat */
  .chroma .mf {
  }
  /* LiteralNumberHex */
  .chroma .mh {
  }
  /* LiteralNumberInteger */
  .chroma .mi {
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
  }
  /* LiteralNumberOct */
  .chroma .mo {
  }
  /* Operator */
  .chroma .o {
    color: #89dceb;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #89dceb;
    font-weight: bold;
  }
  /* Punctuation */
  .chroma .p {
    color: #cdd6f4;
  }
  /* Comment */
  .chroma .c {
    color: #585b70;
    font-style: italic;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #585b70;
    font-style: italic;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #585b70;
    font-style: italic;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #585b70;
    font-style: italic;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #585b70;
    font-style: italic;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #89b4fa;
    font-style: italic;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #89b4fa;
    font-style: italic;
  }
  /* Generic */
  .chroma .g {
  }
  /* GenericDeleted */
  .chroma .gd {
    color: #eba0ac;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericError */
  .chroma .gr {
    color: #eba0ac;
  }
  /* GenericHeading */
  .chroma .gh {
    color: #89dceb;
    font-weight: bold;
  }
  /* GenericInserted */
  .chroma .gi {
    color: #a6e3a1;
  }
  /* GenericOutput */
  .chroma .go {
  }
  /* GenericPrompt */
  .chroma .gp {
    color: #6c7086;
    font-weight: bold;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .chroma .gu {
    color: #89dceb;
    font-weight: bold;
  }
  /* GenericTraceback */
  .chroma .gt {
    color: #eba0ac;
  }
  /* GenericUnderline */
  .chroma .gl {
  }
  /* TextWhitespace */
  .chroma .w {
    color: #313244;
  }
}

.copy-code-button {
  position: absolute;
  right: 0;
  bottom: calc(var(--baseline) * 1rem);
  width: calc(var(--baseline) * 1.25rem);
  margin: 0.25rem;
  border: none;
  background-color: transparent;
  z-index: 1;
  transition: 0.1s;
  opacity: 0;
}

.copy-code-button:hover {
  cursor: pointer;
  background-color: transparent;
}

.copy-code-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  outline: 0;
}

.highlight:hover > .copy-code-button {
  opacity: 1;
  transition: 0.1s;
}

footer {
  padding-top: calc(var(--baseline) * 1rem);
  border-top: var(--ctp-latte-text) dashed 1px;
  position: relative;
  z-index: 0;
}

footer ul li {
  display: inline;
  margin-right: 1rem;
}

footer ul li::marker {
  content: none !important;
}

footer::before {
  top: calc(var(--baseline) * -0.5rem);
  content: "\2766";
  position: absolute;
  font-size: var(--ms5);
  z-index: 1;
  left: 50%;
  text-align: center;
}
footer ul {
  float: left;
}
footer p {
  float: right;
}

@media (prefers-color-scheme: light) {
  .copy-code-button {
    color: var(--ctp-latte-teal);
  }
  /* Background */
  .bg {
    color: #fe640b;
    background-color: #eff1f5;
  }
  /* PreWrapper */
  .chroma {
    color: #fe640b;
    background-color: #eff1f5;
  }
  /* Other */
  .chroma .x {
  }
  /* Error */
  .chroma .err {
    color: #d20f39;
  }
  /* CodeLine */
  .chroma .cl {
  }
  /* LineLink */
  .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  /* LineTableTD */
  .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineTable */
  .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
  /* LineHighlight */
  .chroma .hl {
    background-color: #ffffcc;
  }
  /* LineNumbersTable */
  .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #feb185;
  }
  /* LineNumbers */
  .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #feb185;
  }
  /* Line */
  .chroma .line {
    display: flex;
  }
  /* Keyword */
  .chroma .k {
    color: #8839ef;
  }
  /* KeywordConstant */
  .chroma .kc {
    color: #8839ef;
    font-style: italic;
  }
  /* KeywordDeclaration */
  .chroma .kd {
    color: #8839ef;
  }
  /* KeywordNamespace */
  .chroma .kn {
    color: #8839ef;
  }
  /* KeywordPseudo */
  .chroma .kp {
    color: #8839ef;
    font-weight: bold;
  }
  /* KeywordReserved */
  .chroma .kr {
    color: #8839ef;
  }
  /* KeywordType */
  .chroma .kt {
    color: #df8e1d;
  }
  /* Name */
  .chroma .n {
    color: #7287fd;
  }
  /* NameAttribute */
  .chroma .na {
    color: #df8e1d;
  }
  /* NameBuiltin */
  .chroma .nb {
    font-style: italic;
  }
  /* NameBuiltinPseudo */
  .chroma .bp {
    color: #7287fd;
  }
  /* NameClass */
  .chroma .nc {
    color: #df8e1d;
  }
  /* NameConstant */
  .chroma .no {
    color: #df8e1d;
  }
  /* NameDecorator */
  .chroma .nd {
    color: #ea76cb;
  }
  /* NameEntity */
  .chroma .ni {
    color: #ea76cb;
  }
  /* NameException */
  .chroma .ne {
    color: #e64553;
  }
  /* NameFunction */
  .chroma .nf {
    color: #04a5e5;
  }
  /* NameFunctionMagic */
  .chroma .fm {
    color: #7287fd;
  }
  /* NameLabel */
  .chroma .nl {
    color: #df8e1d;
  }
  /* NameNamespace */
  .chroma .nn {
    color: #df8e1d;
  }
  /* NameOther */
  .chroma .nx {
  }
  /* NameProperty */
  .chroma .py {
    color: #7287fd;
  }
  /* NameTag */
  .chroma .nt {
    color: #8839ef;
  }
  /* NameVariable */
  .chroma .nv {
  }
  /* NameVariableClass */
  .chroma .vc {
    color: #7287fd;
  }
  /* NameVariableGlobal */
  .chroma .vg {
    color: #7287fd;
  }
  /* NameVariableInstance */
  .chroma .vi {
    color: #7287fd;
  }
  /* NameVariableMagic */
  .chroma .vm {
    color: #7287fd;
  }
  /* Literal */
  .chroma .l {
  }
  /* LiteralDate */
  .chroma .ld {
  }
  /* LiteralString */
  .chroma .s {
    color: #40a02b;
  }
  /* LiteralStringAffix */
  .chroma .sa {
    color: #40a02b;
  }
  /* LiteralStringBacktick */
  .chroma .sb {
    color: #40a02b;
  }
  /* LiteralStringChar */
  .chroma .sc {
    color: #40a02b;
  }
  /* LiteralStringDelimiter */
  .chroma .dl {
    color: #40a02b;
  }
  /* LiteralStringDoc */
  .chroma .sd {
    color: #40a02b;
  }
  /* LiteralStringDouble */
  .chroma .s2 {
    color: #40a02b;
  }
  /* LiteralStringEscape */
  .chroma .se {
    color: #1e66f5;
  }
  /* LiteralStringHeredoc */
  .chroma .sh {
    color: #40a02b;
  }
  /* LiteralStringInterpol */
  .chroma .si {
    color: #40a02b;
  }
  /* LiteralStringOther */
  .chroma .sx {
    color: #40a02b;
  }
  /* LiteralStringRegex */
  .chroma .sr {
    color: #1e66f5;
  }
  /* LiteralStringSingle */
  .chroma .s1 {
    color: #40a02b;
  }
  @media print {
    header,
    footer,
    aside,
    form {
      display: none;
    }
    article {
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important;
    }
    a:after {
      content: " (" attr(href) ") ";
    }
  }
  /* LiteralStringSymbol */
  .chroma .ss {
    color: #40a02b;
  }
  /* LiteralNumber */
  .chroma .m {
  }
  /* LiteralNumberBin */
  .chroma .mb {
  }
  /* LiteralNumberFloat */
  .chroma .mf {
  }
  /* LiteralNumberHex */
  .chroma .mh {
  }
  /* LiteralNumberInteger */
  .chroma .mi {
  }
  /* LiteralNumberIntegerLong */
  .chroma .il {
  }
  /* LiteralNumberOct */
  .chroma .mo {
  }
  /* Operator */
  .chroma .o {
    color: #04a5e5;
  }
  /* OperatorWord */
  .chroma .ow {
    color: #04a5e5;
    font-weight: bold;
  }
  /* Punctuation */
  .chroma .p {
    color: #4c4f69;
  }
  /* Comment */
  .chroma .c {
    color: #acb0be;
    font-style: italic;
  }
  /* CommentHashbang */
  .chroma .ch {
    color: #acb0be;
    font-style: italic;
  }
  /* CommentMultiline */
  .chroma .cm {
    color: #acb0be;
    font-style: italic;
  }
  /* CommentSingle */
  .chroma .c1 {
    color: #acb0be;
    font-style: italic;
  }
  /* CommentSpecial */
  .chroma .cs {
    color: #acb0be;
    font-style: italic;
  }
  /* CommentPreproc */
  .chroma .cp {
    color: #1e66f5;
    font-style: italic;
  }
  /* CommentPreprocFile */
  .chroma .cpf {
    color: #1e66f5;
    font-style: italic;
  }
  /* Generic */
  .chroma .g {
  }
  /* GenericDeleted */
  .chroma .gd {
    color: #e64553;
  }
  /* GenericEmph */
  .chroma .ge {
    font-style: italic;
  }
  /* GenericError */
  .chroma .gr {
    color: #e64553;
  }
  /* GenericHeading */
  .chroma .gh {
    color: #04a5e5;
    font-weight: bold;
  }
  /* GenericInserted */
  .chroma .gi {
    color: #40a02b;
  }
  /* GenericOutput */
  .chroma .go {
  }
  /* GenericPrompt */
  .chroma .gp {
    color: #9ca0b0;
    font-weight: bold;
  }
  /* GenericStrong */
  .chroma .gs {
    font-weight: bold;
  }
  /* GenericSubheading */
  .chroma .gu {
    color: #04a5e5;
    font-weight: bold;
  }
  /* GenericTraceback */
  .chroma .gt {
    color: #e64553;
  }
  /* GenericUnderline */
  .chroma .gl {
  }
  /* TextWhitespace */
  .chroma .w {
    color: #ccd0da;
  }
}

@media print {
  html {
    padding: 0;
  }
  aside,
  .kaizen,
  .recent {
    display: none;
  }

  a::after {
    content: " (" attr(href) ") ";
  }

  pre {
    padding: 0;
  }
}
